*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #0cc8f2;
    --accent-color: #f27127;
    --secondary-color: #f2274c;
    --black-color: #333A3F;
}

body{
    color: var(--black-color);
}


.game-container{
    display: flex;
    justify-content: space-between;
    margin: 8px 32px;
    height: 500px;
    align-items: center;
    background-color: var(--background-color);
}

#play-btn{
    padding: 16px 32px;
    font-size: 24px;
    border-radius: 8px;
    background-color: var(--accent-color);
}

#timer{
    font-size: 48px;
}

.player-area{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robot-container{
    color: var(--secondary-color);
}

.human-container{
    color: var(--secondary-color);
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#bubble{
    width: 100px;
    height: 100px;
    display: none;
    background-image: url(./assets/thinkingbubble.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.hand{
    width: 100px;
    height: 100px;
    display: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#robot-avatar{
    background-image: url(./assets/computer.png);
}

#human-avatar{
    background-image: url(./assets/player.png);
}

.robot-rock{
    background-image: url(./assets/rock.png);
    transform: rotateY(180deg);
}

.robot-paper{
    background-image: url(./assets/paper.png);
    transform: rotateY(180deg);
}

.robot-scissor{
    background-image: url(./assets/scissor.png);
    transform: rotateY(180deg);
}

.human-rock{
    background-image: url(./assets/rock.png);
}

.human-paper{
    background-image: url(./assets/paper.png);
}

.human-scissor{
    background-image: url(./assets/scissor.png);
}

